In [2]:
import pandas as pd
import numpy as np

csv_labor = "Resources/labor_force.csv"
csv_literacy = "Resources/literacy.csv"

labor_df = pd.read_csv(csv_labor)
literacy_df = pd.read_csv(csv_literacy)

# literacy_df.count()

In [3]:
merged_df = pd.merge(labor_df, literacy_df, how='inner', on=['Country Code'])
# merged_df_clean = merged_df.loc[:, )
merged_df_clean = merged_df.dropna(how='all', axis=1)
# merged_df
merged_df_clean = merged_df_clean[['Country Name_x', 'Country Code', 'Indicator Name_x','Country Name_y', 'Indicator Name_y',
       'Indicator Code_y', '1998_x', '1999_x', '2000_x', '2001_x',
       '2002_x', '2003_x', '2004_x', '2005_x', '2006_x', '2007_x', '2008_x',
       '2009_x', '2010_x', '2011_x', '2012_x', '2013_x', '2014_x', '2015_x',
       '2016_x', '1998_y', '1999_y', '2000_y', '2001_y', '2002_y', '2003_y',
       '2004_y', '2005_y', '2006_y', '2007_y', '2008_y', '2009_y', '2010_y',
       '2011_y', '2012_y', '2013_y', '2014_y', '2015_y', '2016_y']]
# merged_df_clean = merged_df_clean[['Country Name_x', 'Country Code', 'Indicator Name_x','Country Name_y', 'Indicator Name_y',
#        'Indicator Code_y', '2000_x', '2005_x', '2010_x', '2015_x', '2000_y', '2005_y', '2010_y','2015_y']]
merged_df_clean = merged_df_clean.dropna(how='all')
merged_df_clean

dropna.thres

,Country Name_x,Country Code,Indicator Name_x,Country Name_y,Indicator Name_y,Indicator Code_y,1998_x,1999_x,2000_x,2001_x,...,2007_y,2008_y,2009_y,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y
0,Aruba,ABW,"Labor force participation rate, female (% of f...",Aruba,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,96.719780,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"Labor force participation rate, female (% of f...",Afghanistan,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,14.574000,14.532000,14.509000,14.816000,...,NaN,NaN,NaN,NaN,17.612061,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,"Labor force participation rate, female (% of f...",Angola,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,74.741997,74.739998,74.732002,74.760002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.407211,NaN,NaN
3,Albania,ALB,"Labor force participation rate, female (% of f...",Albania,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,52.978001,52.165001,51.717999,51.095001,...,NaN,94.681808,NaN,NaN,95.691483,96.136070,NaN,NaN,NaN,NaN
4,Andorra,AND,"Labor force participation rate, female (% of f...",Andorra,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,100.000000
5,Arab World,ARB,"Labor force participation rate, female (% of f...",Arab World,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,19.178715,19.655739,19.734920,19.712377,...,59.134460,60.503800,58.933700,60.228070,62.325580,63.699850,64.176000,64.818790,65.357130,65.952650
6,United Arab Emirates,ARE,"Labor force participation rate, female (% of f...",United Arab Emirates,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,32.488998,33.101002,33.717999,34.068001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Argentina,ARG,"Labor force participation rate, female (% of f...",Argentina,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,48.701000,48.708000,48.910000,48.904999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.129997,NaN
8,Armenia,ARM,"Labor force participation rate, female (% of f...",Armenia,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,48.345001,48.194000,48.025002,47.890999,...,NaN,NaN,NaN,NaN,99.690353,NaN,NaN,NaN,NaN,NaN
9,American Samoa,ASM,"Labor force participation rate, female (% of f...",American Samoa,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,"Labor force participation rate, female (% of f...",Antigua and Barbuda,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Australia,AUS,"Labor force participation rate, female (% of f...",Australia,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,53.743000,53.749001,54.623001,55.195000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Austria,AUT,"Labor force participation rate, female (% of f...",Austria,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,48.813000,48.980000,48.944000,48.778999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Azerbaijan,AZE,"Labor force participation rate, female (% of f...",Azerbaijan,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,56.027000,55.941002,56.988998,57.888000,...,99.397881,NaN,99.682152,99.692627,99.704964,99.702858,99.716820,99.719658,99.717140,99.719551
14,Burundi,BDI,"Labor force participation rate, female (% of f...",Burundi,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,85.592003,84.978996,84.332001,83.834999,...,NaN,43.157188,NaN,NaN,NaN,NaN,NaN,54.663029,NaN,NaN
15,Belgium,BEL,"Labor force participation rate, female (% of f...",Belgium,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,41.532001,43.140999,43.570000,41.723000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Benin,BEN,"Labor force participation rate, female (% of f...",Benin,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,62.356998,63.148998,63.929001,64.690002,...,NaN,NaN,NaN,NaN,NaN,22.093880,NaN,NaN,NaN,NaN
17,Burkina Faso,BFA,"Labor force participation rate, female (% of f...",Burkina Faso,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,70.063004,69.059998,68.027000,66.957001,...,21.579571,NaN,NaN,NaN,NaN,NaN,NaN,26.220249,NaN,NaN
18,Bangladesh,BGD,"Labor force participation rate, female (% of f...",Bangladesh,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,25.684000,26.190001,26.658001,26.979000,...,43.740849,NaN,NaN,NaN,46.743210,NaN,NaN,NaN,NaN,69.897209
19,Bulgaria,BGR,"Labor force participation rate, female (% of f...",Bulgaria,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,47.134998,45.747002,44.256001,46.803001,...,NaN,NaN,NaN,NaN,97.983902,NaN,NaN,NaN,NaN,NaN
20,Bahrain,BHR,"Labor force participation rate, female (% of f...",Bahrain,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,33.317001,34.004002,34.776001,35.492001,...,NaN,NaN,NaN,91.612579,NaN,NaN,NaN,NaN,NaN,NaN
21,"Bahamas, The",BHS,"Labor force participation rate, female (% of f...","Bahamas, The","Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,68.792000,69.111000,69.205002,69.475998,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Bosnia and Herzegovina,BIH,"Labor force participation rate, female (% of f...",Bosnia and Herzegovina,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,38.973000,38.813000,38.647999,38.472000,...,NaN,NaN,NaN,NaN,96.803711,NaN,94.910492,NaN,NaN,NaN
23,Belarus,BLR,"Labor force participation rate, female (% of f...",Belarus,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,52.728001,52.849998,53.308998,53.747002,...,NaN,NaN,99.493988,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Belize,BLZ,"Labor force participation rate, female (% of f...",Belize,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,38.141998,39.193001,40.278000,41.368999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Bermuda,BMU,"Labor force participation rate, female (% of f...",Bermuda,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Bolivia,BOL,"Labor force participation rate, female (% of f...",Bolivia,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,58.749001,58.983002,59.223999,59.883999,...,85.985939,86.831749,86.821457,NaN,88.080200,91.873268,NaN,NaN,88.582863,NaN
27,Brazil,BRA,"Labor force participation rate, female (% of f...",Brazil,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,49.272999,50.182999,51.101002,52.021999,...,90.228012,90.219551,90.411217,90.681702,91.633148,91.624901,91.764961,92.060516,NaN,NaN
28,Barbados,BRB,"Labor force participation rate, female (% of f...",Barbados,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,63.459000,63.327000,63.188999,63.275002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Brunei Darussalam,BRN,"Labor force participation rate, female (% of f...",Brunei Darussalam,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,53.484001,54.679001,55.839001,56.228001,...,NaN,NaN,NaN,NaN,94.652481,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,"Labor force participation rate, female (% of f...",Latin America & the Caribbean (IDA & IBRD coun...,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,46.090577,46.535956,46.919056,47.572485,...,89.865850,90.262240,90.433530,90.816100,91.360800,91.706980,91.785720,92.257180,92.604200,92.915400
235,Timor-Leste,TLS,"Labor force participation rate, female (% of f...",Timor-Leste,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,41.334999,40.855000,39.627998,38.721001,...,42.500000,NaN,NaN,52.959000,NaN,NaN,NaN,NaN,NaN,NaN
236,Middle East & North Africa (IDA & IBRD countries),TMN,"Labor force participation rate, female (% of f...",Middle East & North Africa (IDA & IBRD countries),"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,16.613000,17.274505,17.605797,17.857229,...,63.979220,64.723410,64.821060,65.964080,66.163700,66.642990,67.191780,67.697250,68.846640,69.398380
237,Tonga,TON,"Labor force participation rate, female (% of f...",Tonga,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,44.587002,44.375999,44.263000,44.430000,...,NaN,NaN,NaN,NaN,99.434219,NaN,NaN,NaN,NaN,NaN
238,South Asia (IDA & IBRD),TSA,"Labor force participation rate, female (% of f...",South Asia (IDA & IBRD),"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,32.635571,32.412426,32.259982,32.683566,...,50.066050,51.531880,52.557120,55.600680,56.111290,58.579240,59.347240,60.444650,61.193330,62.214540
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Labor force participation rate, female (% of f...",Sub-Saharan Africa (IDA & IBRD countries),"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,60.730259,60.792373,60.921236,61.040092,...,49.206750,48.906760,50.076490,50.669650,52.615070,53.813670,54.359970,55.319480,56.103080,57.109090
240,Trinidad and Tobago,TTO,"Labor force participation rate, female (% of f...",Trinidad and Tobago,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,46.798000,46.752998,46.448002,47.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,Tunisia,TUN,"Labor force participation rate, female (% of f...",Tunisia,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,23.386999,23.407000,23.441999,23.488001,...,68.509377,70.964180,NaN,71.088211,71.729599,72.160652,NaN,72.223770,NaN,NaN
242,Turkey,TUR,"Labor force participation rate, female (% of f...",Turkey,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,29.035999,29.768999,26.285000,26.834999,...,81.263832,NaN,85.347160,88.073174,90.310097,91.604523,92.138077,92.401817,92.645813,NaN
243,Tuvalu,TUV,"Labor force participation rate, female (% of f...",Tuvalu,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Tanzania,TZA,"Labor force participation rate, female (% of f...",Tanzania,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,81.766998,81.733002,81.709000,81.704002,...,NaN,NaN,NaN,60.752621,NaN,73.347183,NaN,NaN,73.093826,NaN
245,Uganda,UGA,"Labor force participation rate, female (% of f...",Uganda,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,63.681999,63.848000,64.024002,64.207001,...,NaN,NaN,NaN,64.591454,NaN,61.970428,NaN,NaN,NaN,NaN
246,Ukraine,UKR,"Labor force participation rate, female (% of f...",Ukraine,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,51.202999,50.048000,50.779999,50.074001,...,NaN,NaN,NaN,NaN,NaN,99.958199,NaN,NaN,NaN,NaN
247,Upper middle income,UMC,"Labor force participation rate, female (% of f...",Upper middle income,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,59.686670,59.803846,59.583884,59.176033,...,91.001190,91.322700,91.769840,91.887480,92.316070,92.507040,92.577110,92.848630,93.147220,93.375680
248,Uruguay,URY,"Labor force participation rate, female (% of f...",Uruguay,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,50.818001,51.258999,51.681999,53.165001,...,98.241928,98.463661,98.533722,98.490952,98.619080,98.660553,98.636429,98.809052,98.867462,NaN
249,United States,USA,"Labor force participation rate, female (% of f...",United States,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,58.751999,58.921001,59.022999,58.806999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,Uzbekistan,UZB,"Labor force participation rate, female (% of f...",Uzbekistan,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,51.449001,51.589001,51.723999,51.848000,...,NaN,NaN,NaN,NaN,NaN,NaN,99.995873,99.975990,99.975769,NaN
251,St. Vincent and the Grenadines,VCT,"Labor force participation rate, female (% of f...",St. Vincent and the Grenadines,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,49.786999,50.345001,50.764000,51.424000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,"Venezuela, RB",VEN,"Labor force participation rate, female (% of f...","Venezuela, RB","Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,46.209000,46.220001,46.834999,47.418999,...,94.929642,NaN,95.350403,NaN,95.028877,NaN,NaN,NaN,96.560066,97.213707
253,British Virgin Islands,VGB,"Labor force participation rate, female (% of f...",British Virgin Islands,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Virgin Islands (U.S.),VIR,"Labor force participation rate, female (% of f...",Virgin Islands (U.S.),"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,59.480999,59.467999,59.466999,59.719002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,Vietnam,VNM,"Labor force participation rate, female (% of f...",Vietnam,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,72.848999,72.847000,72.786003,72.749001,...,NaN,NaN,91.379089,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,Vanuatu,VUT,"Labor force participation rate, female (% of f...",Vanuatu,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,60.873001,60.930000,60.750999,61.085999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,World,WLD,"Labor force participation rate, female (% of f...",World,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,51.240876,51.308885,51.216734,51.126226,...,78.963240,79.314160,79.743040,80.491100,80.757080,81.450470,81.628540,82.066640,82.325320,82.658190
258,Samoa,WSM,"Labor force participation rate, female (% of f...",Samoa,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,25.264000,25.235001,25.076000,24.952000,...,NaN,NaN,NaN,NaN,99.069527,NaN,NaN,NaN,NaN,NaN
259,Kosovo,XKX,"Labor force participation rate, female (% of f...",Kosovo,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,"Labor force participation rate, female (% of f...","Yemen, Rep.","Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,20.716999,21.785999,20.371000,19.028000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,South Africa,ZAF,"Labor force participation rate, female (% of f...",South Africa,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,44.094002,44.410999,44.765999,44.980000,...,87.043098,NaN,91.768158,91.713989,92.047890,92.586250,NaN,93.073059,93.408028,NaN
262,Zambia,ZMB,"Labor force participation rate, female (% of f...",Zambia,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,73.459000,73.456001,73.450996,73.508003,...,51.786968,NaN,NaN,77.746643,NaN,NaN,NaN,NaN,NaN,NaN
263,Zimbabwe,ZWE,"Labor force participation rate, female (% of f...",Zimbabwe,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,65.802002,64.111000,66.811996,69.523003,...,NaN,NaN,NaN,NaN,80.065659,NaN,NaN,88.283829,NaN,NaN