In [10]:
import pandas as pd
import numpy as np

csv_labor = "Resources/labor_force.csv"
csv_literacy = "Resources/literacy.csv"
csv_primary_ed = "Resources/primary_educ.csv"

# Labor force participation rate, female (% of female population ages 15+) 
labor_df = pd.read_csv(csv_labor)

primary_ed_df = pd.read_csv(csv_primary_ed)

primary_ed_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"School enrollment, primary, female (% net)",SE.PRM.NENR.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,98.644058,97.705147,NaN,NaN,NaN,NaN,99.372902,NaN,NaN,NaN
1,Afghanistan,AFG,"School enrollment, primary, female (% net)",SE.PRM.NENR.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,"School enrollment, primary, female (% net)",SE.PRM.NENR.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,69.387787,68.311302,67.712029,66.387497,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,"School enrollment, primary, female (% net)",SE.PRM.NENR.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,86.959778,85.243683,86.046707,87.033752,90.038544,93.502762,95.489700,94.435013,94.435158,NaN
4,Andorra,AND,"School enrollment, primary, female (% net)",SE.PRM.NENR.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
merged_df = pd.merge(labor_df, primary_ed_df, how='inner', on=['Country Code'])
# merged_df_clean = merged_df.loc[:, )
merged_df_clean = merged_df.dropna(how='all', axis=1)
# merged_df
merged_df_clean = merged_df_clean[['Country Name_x', 'Country Code', 'Indicator Name_x', 'Indicator Name_y', 
        '1998_x', '1999_x', '2000_x', '2001_x',
       '2002_x', '2003_x', '2004_x', '2005_x', '2006_x', '2007_x', '2008_x',
       '2009_x', '2010_x', '2011_x', '2012_x', '2013_x', '2014_x', '2015_x',
       '2016_x', '1998_y', '1999_y', '2000_y', '2001_y', '2002_y', '2003_y',
       '2004_y', '2005_y', '2006_y', '2007_y', '2008_y', '2009_y', '2010_y',
       '2011_y', '2012_y', '2013_y', '2014_y', '2015_y', '2016_y']]
# merged_df_clean = merged_df_clean[['Country Name_x', 'Country Code', 'Indicator Name_x','Country Name_y', 'Indicator Name_y',
#        'Indicator Code_y', '2000_x', '2005_x', '2010_x', '2015_x', '2000_y', '2005_y', '2010_y','2015_y']]
merged_df_clean = merged_df_clean.dropna(how='all', thresh=30, axis=0)
# merged_df_clean.to_csv('merged_data.csv')
merged_df_clean

,Country Name_x,Country Code,Indicator Name_x,Indicator Name_y,1998_x,1999_x,2000_x,2001_x,2002_x,2003_x,...,2007_y,2008_y,2009_y,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y
3,Albania,ALB,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",52.978001,52.165001,51.717999,51.095001,50.679001,49.758999,...,NaN,86.959778,85.243683,86.046707,87.033752,90.038544,93.502762,95.489700,94.435013,94.435158
5,Arab World,ARB,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",19.178715,19.655739,19.734920,19.712377,19.306944,19.586335,...,79.868462,80.908524,81.083359,82.333138,82.062271,83.279449,81.924782,81.406609,81.738510,81.837929
6,United Arab Emirates,ARE,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",32.488998,33.101002,33.717999,34.068001,34.618999,35.355000,...,86.593468,NaN,81.476288,84.757423,84.415916,88.337212,88.169533,90.690781,93.898949,93.640167
7,Argentina,ARG,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",48.701000,48.708000,48.910000,48.904999,48.366001,49.205002,...,98.833740,98.758133,98.711212,97.964813,98.175743,98.291252,98.504448,99.141144,99.227463,NaN
8,Armenia,ARM,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",48.345001,48.194000,48.025002,47.890999,47.738998,47.598000,...,89.246017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.059998,92.329308
11,Australia,AUS,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",53.743000,53.749001,54.623001,55.195000,55.402000,56.053001,...,97.396469,97.440559,97.365150,97.497543,98.068062,97.898651,97.721916,97.419357,97.406357,97.049156
13,Azerbaijan,AZE,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",56.027000,55.941002,56.988998,57.888000,58.719002,59.500000,...,83.051010,83.562431,84.355186,83.847580,85.407867,87.942368,91.667099,93.803307,92.850739,93.997673
14,Burundi,BDI,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",85.592003,84.978996,84.332001,83.834999,83.349998,82.886002,...,80.950233,91.786812,91.211189,96.828079,NaN,NaN,NaN,NaN,NaN,NaN
15,Belgium,BEL,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",41.532001,43.140999,43.570000,41.723000,42.356998,42.679001,...,97.187263,97.771103,97.641586,97.451881,97.576393,97.818420,97.827393,97.636688,98.009949,NaN
17,Burkina Faso,BFA,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",70.063004,69.059998,68.027000,66.957001,65.862000,64.746002,...,49.092731,55.532108,58.932758,57.398918,62.779190,63.999538,65.314499,66.491341,68.142738,74.063972
19,Bulgaria,BGR,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",47.134998,45.747002,44.256001,46.803001,46.393002,44.952000,...,97.475342,98.043221,98.035210,97.961838,98.038078,96.175117,94.809761,94.462532,92.923286,90.864464
20,Bahrain,BHR,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",33.317001,34.004002,34.776001,35.492001,36.205002,37.043999,...,NaN,NaN,NaN,NaN,91.169739,91.871407,92.801270,94.795502,96.838020,96.982513
21,"Bahamas, The",BHS,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",68.792000,69.111000,69.205002,69.475998,69.705002,69.674004,...,NaN,99.257347,98.634338,NaN,NaN,NaN,NaN,NaN,NaN,91.558441
23,Belarus,BLR,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",52.728001,52.849998,53.308998,53.747002,54.159000,54.555000,...,NaN,NaN,91.197098,90.951202,90.647240,94.009308,93.799171,93.263000,95.219093,96.275742
24,Belize,BLZ,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",38.141998,39.193001,40.278000,41.368999,42.492001,43.630001,...,93.748352,93.257553,94.473038,95.090149,94.031189,96.388527,95.014641,95.220627,95.059929,94.958977
26,Bolivia,BOL,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",58.749001,58.983002,59.223999,59.883999,60.543999,61.202999,...,95.350151,93.992790,93.888809,91.650490,89.248261,87.654579,86.982330,86.767410,87.676811,89.227364
27,Brazil,BRA,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",49.272999,50.182999,51.101002,52.021999,53.486000,53.873001,...,92.645554,96.746117,96.302231,NaN,94.579887,96.977661,90.127861,92.434380,93.142929,NaN
28,Barbados,BRB,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",63.459000,63.327000,63.188999,63.275002,63.370998,63.474998,...,95.638878,97.050842,94.612457,95.837852,94.030388,NaN,NaN,91.973793,91.768791,92.026787
30,Bhutan,BTN,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",52.973000,54.172001,55.598999,57.943001,60.275002,62.382000,...,NaN,79.834930,84.419693,86.505447,87.383713,88.796989,85.918617,NaN,83.733917,81.597130
31,Botswana,BWA,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",49.377998,49.369999,49.466999,50.418999,51.407001,52.418999,...,86.789139,86.584000,87.017921,NaN,NaN,92.816963,93.580078,89.289413,NaN,NaN
32,Central African Republic,CAF,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",64.262001,64.251999,64.211998,64.185997,64.162003,64.078003,...,46.891571,55.190540,55.311420,57.657681,56.480431,59.934601,NaN,NaN,NaN,NaN
34,Central Europe and the Baltics,CEB,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",50.472135,50.337316,50.414203,50.393216,48.680451,48.145085,...,92.719933,92.277969,92.743813,93.101067,93.128548,93.154984,92.956871,92.824181,92.726181,92.389053
35,Switzerland,CHE,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",58.132999,58.320000,57.772999,58.895000,59.359001,59.554001,...,92.849564,93.487137,93.637627,93.505676,93.405510,93.340263,93.410202,93.640968,93.168762,93.200829
37,Chile,CHL,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",36.320999,36.525002,35.549999,35.444000,35.473999,36.556999,...,94.853912,94.473969,92.471718,93.287987,92.041588,91.478821,90.713051,90.860878,91.660950,93.039658
39,Cote d'Ivoire,CIV,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",48.477001,48.436001,48.408001,48.388000,48.372002,48.356998,...,NaN,NaN,51.042789,NaN,NaN,NaN,65.394058,68.770081,72.963387,79.631813
43,Colombia,COL,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",38.709000,40.208000,41.719002,43.243999,44.777000,46.311001,...,92.009102,92.353958,92.845779,93.020012,93.584023,91.099770,90.273460,89.740082,90.578339,91.237473
45,Cabo Verde,CPV,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",43.148998,43.250999,43.383999,43.490002,43.622002,43.752998,...,90.819237,88.891411,87.295578,86.612846,85.414589,86.038910,86.080421,86.206268,86.373802,85.288322
47,Caribbean small states,CSS,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",50.759388,50.671581,50.477424,50.594669,50.749708,51.264319,...,91.890038,92.749512,92.491608,92.787407,92.865303,92.896408,92.696960,NaN,NaN,NaN
48,Cuba,CUB,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",34.811001,35.139999,35.526001,35.750999,35.957001,36.327999,...,95.702087,96.699760,99.087433,99.307587,99.791191,99.448921,99.258011,96.589317,95.251709,NaN
51,Cyprus,CYP,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",49.033001,49.013000,49.629002,52.102001,52.617001,53.847000,...,98.937531,98.413109,98.445793,99.119408,98.670723,98.087578,97.708878,97.580368,97.673271,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Suriname,SUR,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",35.544998,36.352001,36.655998,37.007999,37.359001,37.818001,...,83.721237,90.719650,95.027832,92.188766,91.155533,91.969704,91.890862,92.472519,93.684982,95.040604
220,Slovenia,SVN,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",53.071999,51.785999,51.244999,50.937000,51.674999,50.276001,...,96.746887,97.042320,97.266472,97.661713,98.137390,98.770653,98.227951,98.069672,98.368378,NaN
221,Sweden,SWE,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",58.141998,58.823002,58.346001,58.479000,58.591000,58.716000,...,96.090271,98.116867,99.029999,99.053078,99.240791,99.500381,99.419746,99.523010,99.362579,NaN
222,Eswatini,SWZ,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",37.794998,37.938000,38.112000,38.223000,38.355999,38.509998,...,NaN,NaN,74.289673,79.099861,77.998291,78.242592,75.708054,76.635490,75.747383,NaN
227,Chad,TCD,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",64.589996,64.538002,64.484001,64.517998,64.529999,64.591003,...,NaN,NaN,NaN,NaN,54.163971,NaN,68.477188,NaN,NaN,NaN
228,East Asia & Pacific (IDA & IBRD countries),TEA,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",67.605490,67.381597,67.073334,66.490009,65.822728,65.126049,...,94.778847,94.857300,95.284897,95.716789,96.186203,95.758873,95.366333,95.068871,94.920563,94.961449
229,Europe & Central Asia (IDA & IBRD countries),TEC,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",49.256727,50.309571,49.941245,49.507614,49.460918,48.948237,...,92.176880,92.404129,92.145981,92.902603,93.078987,92.984833,93.443359,93.602577,93.957474,94.111191
230,Togo,TGO,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",80.426002,80.392998,80.356003,80.349998,80.353996,80.391998,...,82.510872,83.885223,NaN,NaN,NaN,NaN,NaN,86.526871,NaN,81.146637
232,Tajikistan,TJK,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",46.747002,46.962002,47.150002,47.227001,47.270000,47.301998,...,93.807289,96.162941,96.205551,96.699982,96.036560,96.584320,96.568771,94.754311,93.705170,93.658653
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",46.090577,46.535956,46.919056,47.572485,48.431393,48.857008,...,93.295303,94.262260,94.613167,94.805130,94.886162,94.759621,92.826622,92.979767,93.100220,93.077362
235,Timor-Leste,TLS,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",41.334999,40.855000,39.627998,38.721001,36.778999,34.969002,...,NaN,68.434677,76.164978,86.064369,91.297768,90.745613,89.596123,87.966049,85.035454,81.322433
236,Middle East & North Africa (IDA & IBRD countries),TMN,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",16.613000,17.274505,17.605797,17.857229,17.728871,18.237678,...,90.075409,90.554001,90.904587,91.973343,91.918694,92.849297,91.059959,90.477989,90.615852,91.053291
238,South Asia (IDA & IBRD),TSA,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",32.635571,32.412426,32.259982,32.683566,33.127988,33.642784,...,86.383728,86.909019,87.817551,88.221092,87.642593,88.341301,88.763229,89.081551,89.495338,89.749947
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",60.730259,60.792373,60.921236,61.040092,61.154398,61.276079,...,69.833809,71.187820,71.530083,71.459877,72.944420,73.675781,74.343658,74.859711,74.651962,74.706230
240,Trinidad and Tobago,TTO,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",46.798000,46.752998,46.448002,47.000000,47.626999,49.611000,...,92.812630,94.022110,94.833839,94.801872,NaN,NaN,NaN,NaN,NaN,NaN
241,Tunisia,TUN,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",23.386999,23.407000,23.441999,23.488001,23.551001,23.636000,...,95.871002,95.887283,97.175560,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,Turkey,TUR,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",29.035999,29.768999,26.285000,26.834999,27.552999,26.212999,...,97.087311,96.575699,94.487968,95.364929,94.582321,92.020073,92.623718,94.158501,94.382187,NaN
244,Tanzania,TZA,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",81.766998,81.733002,81.709000,81.704002,81.722000,81.751999,...,NaN,93.797073,NaN,87.617561,NaN,83.157356,80.025948,79.636681,NaN,NaN
246,Ukraine,UKR,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",51.202999,50.048000,50.779999,50.074001,49.974998,49.798000,...,87.549973,87.510857,87.920700,90.658043,93.019318,94.210442,94.735909,93.405998,NaN,NaN
247,Upper middle income,UMC,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",59.686670,59.803846,59.583884,59.176033,58.917915,58.408638,...,95.087051,95.264832,95.267937,95.074409,94.993263,94.865517,94.297897,94.524307,94.561348,94.532417
248,Uruguay,URY,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",50.818001,51.258999,51.681999,53.165001,52.726002,52.305000,...,97.894653,98.699623,98.765450,NaN,NaN,NaN,99.077782,94.181976,97.189560,NaN
249,United States,USA,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",58.751999,58.921001,59.022999,58.806999,58.591000,58.458000,...,94.946274,95.563599,94.740623,92.915642,92.624458,91.993912,91.761429,92.621613,93.482201,NaN
250,Uzbekistan,UZB,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",51.449001,51.589001,51.723999,51.848000,51.967999,52.085999,...,89.145500,87.799057,87.202621,88.030701,88.409821,90.233109,91.629829,92.872971,93.563026,94.245621
252,"Venezuela, RB",VEN,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",46.209000,46.220001,46.834999,47.418999,47.284000,47.240002,...,90.859947,88.924637,90.781380,91.211182,91.544762,90.400040,89.784988,90.282349,89.208633,86.448471
257,World,WLD,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",51.240876,51.308885,51.216734,51.126226,51.099902,51.040923,...,87.126892,87.587738,87.882271,88.017967,88.207893,88.386787,88.217087,88.279953,88.311829,88.358093
258,Samoa,WSM,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",25.264000,25.235001,25.076000,24.952000,24.885000,24.805000,...,NaN,NaN,NaN,95.593628,94.931831,95.794121,NaN,96.677330,96.372276,96.106644
260,"Yemen, Rep.",YEM,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",20.716999,21.785999,20.371000,19.028000,17.760000,16.563999,...,NaN,68.381447,NaN,72.602890,NaN,76.192337,77.480980,NaN,NaN,77.730057
261,South Africa,ZAF,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",44.094002,44.410999,44.765999,44.980000,45.222000,45.473000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.611000,NaN
262,Zambia,ZMB,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",73.459000,73.456001,73.450996,73.508003,73.546997,73.589996,...,88.585991,NaN,86.503212,84.418320,87.769043,89.783951,87.187851,NaN,NaN,NaN
263,Zimbabwe,ZWE,"Labor force participation rate, female (% of f...","School enrollment, primary, female (% net)",65.802002,64.111000,66.811996,69.523003,72.166000,74.699997,...,NaN,NaN,NaN,NaN,NaN,88.493179,85.462837,NaN,NaN,NaN