In [61]:
import pandas as pd
import numpy as np
import matplotlib as plt
from scipy.stats import pearsonr
import numpy as np

In [77]:
labor_all_csv = 'David_Labor/lab_ratio.csv'
labor_all = pd.read_csv(literacy_all_csv)

mort_all_csv = 'Resources/mortality_under5.csv'
mort_all = pd.read_csv(mort_all_csv)

lit_all_csv = 'Resources/lit_ratio.csv'
lit_all = pd.read_csv(lit_all_csv)

mort_all = mort_all.set_index("Country Code")
labor_all = labor_all.set_index("Country Code")
lit_all = lit_all.set_index("Country Code")

In [66]:
mort_all = mort_all[['1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017']] * 1

#mort_all

In [75]:
mort2017 = mort_all.iloc[:,27]

In [79]:
labor2017 = labor_all.iloc[:,27]

In [87]:
labor2017

Country Code
AFG    0.224571
AGO    0.940468
ALB    0.727965
ARE    0.444782
ARG    0.646250
ARM    0.728758
AUS    0.839596
AUT    0.832427
AZE    0.905438
BDI    1.035647
BEL    0.813919
BEN    0.939173
BFA    0.773687
BGD    0.413961
BGR    0.802156
BHR    0.506440
BHS    0.853346
BIH    0.599557
BLR    0.826921
BLZ    0.655249
BOL    0.690598
BRA    0.711864
BRB    0.888824
BRN    0.790341
BTN    0.781340
BWA    0.836678
CAF    0.792186
CAN    0.869071
CHE    0.847918
CHL    0.679692
         ...
SVN    0.849505
SWE    0.902068
SWZ    0.634597
SYR    0.169202
TCD    0.834930
TGO    0.955537
THA    0.782709
TJK    0.620500
TKM    0.682183
TON    0.608813
TTO    0.692486
TUN    0.343708
TUR    0.449919
TZA    0.909382
UGA    0.888763
UKR    0.745150
URY    0.753997
USA    0.816415
UZB    0.690915
VCT    0.730184
VEN    0.648778
VIR    0.884889
VNM    0.877453
VUT    0.772998
WLD    0.647473
WSM    0.610857
YEM    0.086140
ZAF    0.771555
ZMB    0.880370
ZWE    0.881365
Name: 2017, Length: 180, dtype: float64

In [88]:
litmean = lit_all.iloc[:,0]

In [89]:
litmean

Country Code
ABW    0.996469
AFG    0.387785
AGO    0.660563
ALB    0.979400
AND    1.000000
ARE    1.022269
ARG    0.999692
ARM    0.996857
ASM         NaN
ATG    1.010366
AUS         NaN
AUT         NaN
AZE    0.997065
BDI    0.745025
BEL         NaN
BEN    0.463826
BFA    0.534923
BGD    0.837455
BGR    0.990919
BHR    0.922669
BHS         NaN
BIH    0.933961
BLR    0.996782
BLZ    1.000849
BMU         NaN
BOL    0.898322
BRA    1.005275
BRB         NaN
BRN    0.937707
BTN    0.661554
         ...
SYC    1.012535
SYR    0.827058
TCA         NaN
TCD    0.374964
TGO    0.624258
THA    0.968683
TJK    0.995358
TKM    0.989296
TON    1.001243
TTO    0.976043
TUN    0.812608
TUR    0.882755
TUV         NaN
TZA    0.842936
UGA    0.750368
UKR    0.996958
URY    1.007249
USA         NaN
UZB    0.997371
VCT         NaN
VEN    0.996417
VGB         NaN
VIR         NaN
VNM    0.933975
VUT         NaN
WSM    0.995913
YEM    0.300743
ZAF    0.972572
ZMB    0.789420
ZWE    0.928616
Name: Ratio of Female to Male Literacy Rates, Length: 204, dtype: float64